body {
    background-color: #02111B;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: #5D737E;
}

/*
* *:hover { border:2px solid #89A81E }                   
* * *:hover { border:2px solid #F34607 }                 
* * * *:hover { border:2px solid #5984C3 }               
* * * * *:hover { border:2px solid #CD1821 }          
* * * * * *:hover { border:2px dotted #89A81E }       
* * * * * * *:hover { border:2px dotted #F34607 }     
* * * * * * * *:hover { border:2px dotted #5984C3 }   
* * * * * * * * *:hover { border:2px dotted #CD1821 } 
*/

a {
    color: #85A5B5;
    position: relative;
    text-decoration: none;
}

a:hover {
    color: rgba(133,169,181, 0.7);
    text-decoration: none;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgb(133,169,181);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    background-color: rgba(133,169,181, 0.9);
    transform: scaleX(1);
}

nav {
    padding: 50px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}



/* CLASSES */
.drop-shadow {
    box-shadow:  0px 10px 50px black;
}


#main-hero {
    background-image: url("images/geometric-pattern-on-chameleon-color-3612932.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    background-size: cover;
    color: #FCFCFC;
    /* padding-top: 10em; */
    text-align: center;
}

#main-hero .container {
    /* padding-top: 10%;
    padding-bottom: 15%; */
    margin-top: 15%;
    min-height: 40vh;
}

.container-form {
    width: 60%;
    margin-left: 20%;
    margin-right:20%;
}

#section-about {
    /* background-image: url("https://media.giphy.com/media/l0MYtTmeB2KYB8bQI/giphy.gif"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #02111B;
    color: #5D737E;
    text-align: center;
    padding: 4% 0 10% 0;
}
#section-about h2 {
    line-height: 3rem;
}

#section-games {
    /* background-image: radial-gradient( at center, black, #02111B, #02111B); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #02111B;
    color: #FCFCFC;
    text-align: center;
    
    padding: 6% 0 10% 0;
}

#section-games .container {
    padding-bottom: 15%
    
}

#section-social .container {
    padding: 4% 0 10% 0;
}

#section-sponsors {
    background-image: url("images/geometric-pattern-on-chameleon-color-3612932.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #FCFCFC;
    text-align: center;
    padding: 5% 0 10% 0;
}

#section-social {
    background-image: url("images/geometric-pattern-on-chameleon-color-3612932.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #FCFCFC;
    text-align: center;
    padding: 5% 0 10% 0;
}

#section-sponsors .container {
    padding-top: 10%;
    padding-bottom: 15%
}


footer {
    background-color: #02111B;
    color: #5D737E;
    text-align: center;
    padding: 3% 0 3% 0;
}

footer li {
    padding-bottom: 20em;
}

a .fa-twitch {
    color: red;
}




.fade-in {
    opacity: 0;
    transition: opacity 800ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}